* {
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    width: 900px;
    margin: 0 auto;
}

.txt-left {
    text-align: left;
}

/* header */

.header {
    margin-top: 30px;
}

.logo {
    float: left;
    height: 50px;
    padding-right: 10px;
}

.title {
    float: left
}

.social {
    float: right;
    font-size: 8px;
}

.rss-ico {
    margin-left: 10px;
}

.stripe-ribben {
    height:13px;
    width: auto;
    background: repeating-linear-gradient(
        45deg,
        #ccc,
        white 2px,
        #ccc 1px,
        #ccc 3px
      );
}

/* main */

.devider {
    width: 900px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.print {
    float: right;
}

.hero {
    margin-top: 25px;
}

p {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
    text-indent: 25px;
}

/* recipy */

.recipy-box {
    background-image: url('assets/list-bg.png');
    height: 305px;
}

.col {
    margin-top: 33px;
}

.col-1 {
    float: left;
    margin-left: 70px;
}

.col-2 {
    float: left;
    margin-left: 250px;
    margin-top: 38px;
}

.col-3 {
    float: left;
}

.crossout {
    text-decoration: line-through
}

.recipy {
    font-family: "Comic Sans", Cursive;
    margin: 8.5px;
    text-indent: 0px;
    margin-left: 0px;
}

.recipy-box{
    margin: 7.5px;
}

/* textbox */

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
  }

  input[type="checkbox"] {
    position: relative;
    width: .9em;
    height: .9em;
    border: 1px solid rgb(148, 101, 101);
    color: rgb(148, 101, 101);
    border-radius: 3px
  }
  
  input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 1.2em;
    right: -.2em;
    top: -.5em;
    visibility: hidden;
  }
  
  input[type="checkbox"]:checked::before {
    visibility: visible;
  }
  
/* fonts */

h1 {
    font-family: "Brush Script MT", Cursive;
    line-height: 30px;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-stretch: narrower:semi-condensed
}

h2 {
    font-family: Arial, sans-serif;
    color: gray;
    font-size: 15px;
    font-weight: 100;
    font-stretch: extra-condensed;
}

/* footer */

.footer{
    margin-bottom: 45px;
}

.bottom-devider{
    margin-bottom: 25px;
}

.vanessa{
    float: left;
}

button{
    float: right;
    background-color: orangered;
    color: white;
    border: none;
    height: 50px;
    width: 180px;
    margin-left: 50px;
}

h4{
    margin-left: 93px;
    font-size: 20px;
}

.fp{
    margin-top: 9px;
    margin-left: 93px;
    text-indent: unset;
}

.small-logo{
    display: inline;
    margin-top: 20px;
    z-index: 1;
    border:5px solid white;
}

.ft-rights{
    margin-top: 15px;
}

.hr-pos {
    /* margin-top: 45px; */
    position:relative;
    top:44px;
    height:1px;
    background-color: rgb(245, 241, 241);
    border: none;
    z-index: -1;
    width: 900px;
}