* {
    text-align: center;
    margin: 0px;
}

body {
    width: 900px;
    margin: auto;
}

.txt-left {
    text-align: left;
}

/* header */

.header {
    margin-top: 30px;
}

.logo {
    float: left;
    height: 50px;
    padding-right: 10px;
}

.title {
    float: left
}

.social {
    display: inline-block;
    float: right;
}

/* main */

.devider {
    width: 900px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.print {
    float: right;
}

.hero {
    margin-top: 25px;
}

p {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
    text-indent: 25px;
}

/* recipy */

.recipy-box {
    background-image: url('assets/list-bg.png');
    height: 305px;
}

.col {
    margin-top: 33px;
    /* height: 305px; */
}

.col-1 {
    float: left;
    margin-left: 70px;
}

.col-2 {
    float: left;
    margin-left: 250px;
    margin-top: 38px;
}

.col-3 {
    float: left;
}

.crossout {
    text-decoration: line-through
}

.recipy {
    font-family: "Comic Sans", Cursive;
    margin: 9px;
    text-indent: 0px;
    margin-left: 0px;
}

.box {
    background-color: transparent; /* TODO why is this not working? */
}

/* fonts */

h1 {
    font-family: "Brush Script MT", Cursive;
    line-height: 30px;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-stretch: narrower:semi-condensed
}

h2 {
    font-family: Arial, sans-serif;
    color: gray;
    font-size: 15px;
    font-weight: 100;
    font-stretch: extra-condensed;
}

/* footer */

.footer{
    margin-bottom: 45px;
}

.bottom-devider{
    margin-bottom: 15px;
}

.vanessa{
    float: left;
}

button{
    float: right;
    background-color: orangered;
    color: white;
    border: none;
    height: 50px;
    width: 180px;
}

h4{
    margin-left: 93px;
    font-size: 20px;
}

.fp{
    margin-top: 9px
}

hr{
    margin-top: 45px;
    margin-bottom: 25px;
    /* content: url('assets/small-logo.png'); */
    /* display: inline-block; */
}